---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: shell-operator
  labels:
    heritage: example-206
    app: shell-operator-example-206
spec:
  replicas: 1
  selector:
    matchLabels:
      app: shell-operator-example-206
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        heritage: example-206
        app: shell-operator-example-206
      annotations:
        checksum/hook: {{ .Files.Get "hooks/validating.sh" | sha256sum }}
    spec:
      containers:
      - name: shell-operator
        image: {{ .Values.shellOperator.image | quote }}
        imagePullPolicy: Always
        env:
        - name: SHELL_OPERATOR_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: LOG_LEVEL
          value: Debug
        - name: VALIDATING_WEBHOOK_SERVICE_NAME
          value: {{ .Values.shellOperator.webhookServiceName | quote }}
        - name: VALIDATING_WEBHOOK_CONFIGURATION_NAME
          value: {{ .Values.shellOperator.webhookConfigurationName | quote }}
        volumeMounts:
        - name: validating-certs
          mountPath: /validating-certs/
          readOnly: true
      serviceAccountName: example-206-acc
      volumes:
      - name: validating-certs
        secret:
          secretName: example-206-certs
