name: Publish release image
on:
  push:
    tags:
      - 'v*'
      # debug release build tag
      - 'z-*'
env:
  GO111MODULE: on
  QEMU_PLATFORMS: arm64,arm
  BUILDX_PLATFORMS: "linux/amd64,linux/arm64,linux/arm/v7"
  IMAGE_REPO: flant/shell-operator

jobs:
  publish_release_images:
    name: Release
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2.3.4

      - name: Prepare environment
        run: |
          : Setup imageTag, appVersion and dockerFile envs and build image
          imageTag=${GITHUB_REF#refs/tags/}
          APP_VERSION=${imageTag}
          FINAL_IMAGE_NAME="${IMAGE_REPO}:${imageTag}"
          LATEST_IMAGE_NAME="${IMAGE_REPO}:latest"

          echo "APP_VERSION=${APP_VERSION}" >> ${GITHUB_ENV}
          echo "FINAL_IMAGE_NAME=${FINAL_IMAGE_NAME}" >> ${GITHUB_ENV}
          echo "LATEST_IMAGE_NAME=${LATEST_IMAGE_NAME}" >> ${GITHUB_ENV}

          echo "========================================="
          echo "APP_VERSION        = $APP_VERSION"
          echo "FINAL_IMAGE_NAME   = $FINAL_IMAGE_NAME"
          echo "LATEST_IMAGE_NAME  = $LATEST_IMAGE_NAME"
          echo "========================================="

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1.2.0
        with:
          platforms: "${{ env.QEMU_PLATFORMS }}"

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1.6.0
        with:
          version: latest

      - name: Login to DockerHub
        uses: docker/login-action@v1.10.0
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build and push multi-arch image
        run: |
          echo "Build $FINAL_IMAGE_NAME with version '$APP_VERSION'"
          docker buildx build --push \
              --platform $BUILDX_PLATFORMS \
              --build-arg appVersion=$APP_VERSION \
              --tag $FINAL_IMAGE_NAME \
              --tag $LATEST_IMAGE_NAME .
