name: Publish dev image amd64
on:
  pull_request:
    types: [labeled]
env:
  # ':robot: build dev image: amd64' label
  # not working on job level :-(
  # https://github.community/t/how-to-set-and-access-a-workflow-variable/17335/3
  LABEL_ID: 2648778919
  # build only amd64 to speed up dev image build
  BUILDX_PLATFORMS: "linux/amd64"
  IMAGE_REPO: flant/shell-operator-dev

jobs:
  # Empty job if PR labeled with another label.
  stub:
    name: Empty job to prevent workflow fail
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.event.label.id != 2648778919
    steps:
      - name: stub action
        run: ": This job is used to prevent the workflow to fail when all other jobs are skipped."

  # Remove label from PR.
  unlabel:
    name: Unlabel
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.event.label.id == 2648778919
    steps:
      - uses: actions/github-script@v4.0.2
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const eventLabelName = '${{github.event.label.name}}'
            const response = await github.issues.listLabelsOnIssue({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number
            })
            for (const label of response.data) {
              if (label.name === eventLabelName) {
                github.issues.removeLabel({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  issue_number: context.issue.number,
                  name: eventLabelName
                })
                break
              }
            }

  build_dev_image:
    name: Dev image
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.event.label.id == 2648778919
    steps:
      - uses: actions/checkout@v2.3.4

      - name: Prepare environment
        run: |
          : Setup imageTag, appVersion and dockerFile envs and build image
          imageTag=${GITHUB_REF#refs/tags/}
          APP_VERSION=${imageTag}
          FINAL_IMAGE_NAME="${IMAGE_REPO}:${imageTag}"
          LATEST_IMAGE_NAME="${IMAGE_REPO}:latest"

          : Override image name and version for dev image
          # dev-feat_branch-371e2d3b-2020.02.06_18:37:42
          APP_VERSION=${GITHUB_REF#refs/heads/}-${GITHUB_SHA::8}-$(date +'%Y.%m.%d_%H:%M:%S')
          FINAL_IMAGE_NAME="${IMAGE_REPO}:pr${{ github.event.pull_request.number }}"
          : end override

          echo "APP_VERSION=${APP_VERSION}" >> ${GITHUB_ENV}
          echo "FINAL_IMAGE_NAME=${FINAL_IMAGE_NAME}" >> ${GITHUB_ENV}
          echo "LATEST_IMAGE_NAME=${LATEST_IMAGE_NAME}" >> ${GITHUB_ENV}

          echo "========================================="
          echo "APP_VERSION        = $APP_VERSION"
          echo "FINAL_IMAGE_NAME   = $FINAL_IMAGE_NAME"
          echo "LATEST_IMAGE_NAME  = $LATEST_IMAGE_NAME"
          echo "========================================="

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1.5.1
        with:
          version: latest

      - name: Login to DockerHub
        uses: docker/login-action@v1.10.0
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build and push multi-arch image
        run: |
          echo "Build $FINAL_IMAGE_NAME with version '$APP_VERSION'"
          docker buildx build --push \
              --platform $BUILDX_PLATFORMS \
              --build-arg appVersion=$APP_VERSION \
              --tag $FINAL_IMAGE_NAME \
              --tag $LATEST_IMAGE_NAME .
