# Run integration tests.
# Start when pull request is labeled with 'run/tests' label.
name: Tests
on:
  pull_request:
    types: [labeled]
jobs:
  check:
    name: Check and remove label
    runs-on: ubuntu-latest
    outputs:
      run_tests: ${{ steps.check.outputs.run_tests }}
      build_multi_arch: ${{ steps.check.outputs.build_multi_arch }}
    steps:
      - uses: actions/github-script@v7
        id: check
        with:
          script: |
            const RUN_TESTS_LABEL = 'run/tests';
            const labelName = context.payload.label.name;

            if (labelName !== RUN_TESTS_LABEL) {
              return console.log(`Not a 'run tests' label: '${labelName}'. Skip tests.`);
            }

            console.log(`Detect 'run tests' label '${labelName}'. Remove label and run tests.`);
            core.setOutput('run_tests', 'true');

            try {
              await github.rest.issues.removeLabel({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: context.issue.number,
                name: labelName,
              });
            } catch (e) {
              console.log(`Error occurred while remove label. Possibly label is already removed. Ignore '${typeof e}' error.`);
            }

  integration_tests:
    name: Integration tests
    needs:
      - check
    if: needs.check.outputs.run_tests == 'true'
    strategy:
      fail-fast: true
      matrix:
        include:
          - k8s_version: "1.28"
            kind_node_image: "kindest/node:v1.28.15"
            cluster_name: "kube-1-28"
          - k8s_version: "1.29"
            kind_node_image: "kindest/node:v1.29.14"
            cluster_name: "kube-1-29"
          - k8s_version: "1.30"
            kind_node_image: "kindest/node:v1.30.10"
            cluster_name: "kube-1-30"
          - k8s_version: "1.31"
            kind_node_image: "kindest/node:v1.31.6"
            cluster_name: "kube-1-31"
          - k8s_version: "1.32"
            kind_node_image: "kindest/node:v1.32.3"
            cluster_name: "kube-1-32"
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.23
        uses: actions/setup-go@v6
        with:
          go-version: "1.23"

      - name: Check out shell-operator code
        uses: actions/checkout@v4

      - name: Restore Go modules
        id: go-modules-cache
        uses: actions/cache@v4.2.3
        with:
          path: |
            ~/go/pkg/mod
          key: ${{ runner.os }}-gomod-${{ hashFiles('go.mod', 'go.sum') }}
          restore-keys: |
            ${{ runner.os }}-gomod-

      - name: Download Go modules
        if: steps.go-modules-cache.outputs.cache-hit != 'true'
        run: |
          go mod download
          echo -n "Go modules unpacked size is: " && du -sh $HOME/go/pkg/mod

      - name: Install ginkgo
        run: |
          go install github.com/onsi/ginkgo/v2/ginkgo@latest
          echo $PATH
          ls -la $GOPATH/bin
          ginkgo version

      - name: Start kind cluster
        uses: engineerd/setup-kind@v0.6.2
        with:
          version: "v0.27.0"
          image: ${{ matrix.kind_node_image }}
          name: ${{ matrix.cluster_name }}

      - name: Run integration tests
        env:
          CLUSTER_NAME: ${{ matrix.cluster_name }}
        run: |
          export GOOS=linux

          ginkgo \
            --tags 'integration test'  \
            --vet off \
            -p \
            -r test/integration
